/* 타이틀 */
.title {
    text-align: left;
    color: #ca1a5a;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

.title-sub {
    font-size: 17px;
    font-weight: normal;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
}

.title-main {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}


/*  1. 이용자 정보  */
.user-info h1 {
    font-size: 21px;
    margin: 15px 0;
}

.user-info h3 {
    font-size: 14px;
    margin-top: 5px;
}

.self,
.partner {
    margin: 20px 0;
}

.self h2 {
    font-size: 17px;
    color: #ca1a5a;
}

.partner h2 {
    font-size: 17px;
    color: #1a81ca;
}

.choose {
    display: flex;
    justify-content: flex-start;
    margin: 10px auto;
}

.choose div {
    margin-right: 30px;
    font-size: 17px;
}

.user-table {
    margin-bottom: 30px;
    border: 1px solid #eee;
}

.user-table th {
    width: 300px;
    background-color: #eee;
}

.user-table td {
    padding: 15px 20px;
    width: 980px;
}

.user-table td input {
    width: 200px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #eee;
}

.user-table td select {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid #eee;
}

.dotLine {
    border: 1px dotted #eee;
}

.request textarea {
    width: 100%;
    min-height: 130px;
    padding: 15px 20px;
    box-sizing: border-box;
}

.request p {
    color: #757575;
    font-size: 14px;
    margin-top: 7px;
}

/* 2. 행사일 정보 */
.event-info {
    border-top: 1px solid #333;
    margin: 15px 0;
}

.event-info h1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.date-container, .weddinghall-info {
    padding: 5px 15px;
}

.event-title {
    font-size: 15px;
    font-weight: 600;
    
    color: #CA1A5A;
}

.select-box {
    display: flex;
    margin-top: 15px;
}


.hope-date {
    width: 300px;
    height: 40px;
    padding: 0px 10px;
}

.icon-img {
    width: 40px;
    height: 40px;
}

.weddinghall-search {
    width: 300px;
    height: 40px;
    padding: 0px 10px;
}

.icon2-img {
    width: 19px;
    height: 19px;
}

.non-select {
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #cccccc;
    margin: 0 20px;
    padding: 10px 25px;
}

.non-select > input {
    position: absolute;
    left: 5px;
}


input {
    accent-color: #CA1A5A;
}

.search-icon {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #CA1A5A;
}

.non-selected {
    border: 1px solid #CA1A5A;
    color: #CA1A5A;
}

/* 3. 주문상품 */
.order-product {
    border-top: 1px solid #333;
    margin: 15px 0;
}

.order-title h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 5px;
}

.sub-title {
    display: grid;
    grid-template-columns: 350px 480px 200px;
    border-bottom: 1px solid #000;
    padding: 10px 30px 20px 20px;
}

.order-sub-title h4 {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.order-list {
    display: grid;
    grid-template-rows: 130px 90px 90px;
}

.select-company, .select-suboption {
    display: grid;
    grid-template-columns: 110px 140px 600px 100px;
    border-bottom: 1px solid #757575;
}

.select-category {
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-category p {
    font-size: 14px;
    text-align: center;
    color: #333;
}

.company-img {
    display: flex;
    align-items: center;
}

.company-img img {
    width: 120px;
    height: 100px;
}

.option-img {
    display: flex;
    align-items: center;
}

.option-img img {
    width: 80px;
    height: 60px;
}

.option-list {
    padding: 20px 10px;
}

.option-list h5 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 7px;
}

.option-list h6 {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
}

.option-list p {
    font-size: 12px;
    margin-top: 5px;
}

.option-price {
    display: flex;
    align-items: center;
}

.price-container {
    margin: 20px 5px;
}

.price-regular {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
    padding: 0 25px;
    color: #757575;
}

.discount {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0;
    padding: 0 25px;
    color: #FF3535;
}

.price-final {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    padding: 15px 25px;
    border-top: 2px solid #000;
}

/* 4. 결제 */
.payment {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    gap: 0 30px;
    border-top: 2px solid black;
}

.payment-title {
    color: #333333;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    padding-top: 17px;
}

.option1,
.option2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.option1 button {
    width: 100%;
    height: 55px;
    border: none;
    background-color: #f9f9f9;
    padding: 0;
}

.option1 button:not(:last-child),
.option2 button:not(:last-child) {
    margin-right: 7px;
}
.option2 button {
    width: 100%;
    height: 55px;
    border: 1px solid #cccccc;
    padding: 0;
}

.option2 img {
    width: auto;
    height: 13px;
}

.promotion h3 {
    font-size: 15px;
    margin-top: 30px;
}

.promotion-summary {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 7px;
}

.promotion-summary span {
    border: 1px solid #cccccc;
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding: 7px 0;
}

.promotion-details {
    margin: 20px 0;
}

.promotion-summary {
    font-size: 10px;
}

.promotion-details h4,
.promotion-summary h4 {
    margin-bottom: 10px;
    font-size: 12px;
}

.promotion-details p,
.cost-summary p {
    margin: 5px 0;
    font-size: 8px;
}

/* 최종결제금액 부분 */
.final-cost {
    margin-top: 56px;
    border: 1px solid #cccccc;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.final-cost-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.final-cost-details {
    margin-bottom: 10px;
}

.cost-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.amount {
    display: flex;
    justify-content: flex-end;
}

.cost-amount {
    font-weight: bold;
}

.currency {
    margin-left: 5px;
}

.final-cost-total {
    background-color: #f9f9f9;
    padding: 17px;
    text-align: center;
    margin: 10px 0;
}

.final-cost-total h3 {
    margin: 0;
    font-size: 16px;
}

.total-amount {
    font-size: 22px;
    font-weight: bold;
    color: #d9534f;
    margin-top: 10px;
}

.agree-terms {
    font-size: 12px;
    margin: 15px 0 3px 5px;
}

.term-item {
    margin-bottom: 5px;
    word-break: keep-all;
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

.term-item input {
    margin: 0;
}

.term-item label {
    margin-left: 10px;
}

.payment-button {
    text-align: center;
}

.payment-button button {
    border: none;
    background-color: #ca1a5a;
    color: white;
    width: 100%;
    padding: 10px 0;
    margin: 7px 0 0 0;
    cursor: pointer;
    font-size: 16px;
}

/* 신용카드 이용안내 */
.card-use {
    padding: 15px 30px;
    background-color: #eee;
    font-size: 10px;
}

.card-use h4 {
    margin-bottom: 10px;
}

.card-use p {
    margin-bottom: 3px;
    font-size: 8px;
}






/* 전달사항 */
.message {
    /* display: grid;
    grid-template-rows: repeat(2, auto); */
    position: relative;
}

.message-title {
    font-size: 21px;
    font-weight: 600;
    border-top: 2px solid #000;
    margin: 30px 20px 15px 20px;
    padding-top: 20px;
}

#message {
    height: 150px;
    margin: 0 20px;
    padding: 15px 20px;
    border-radius: 5px;
}

.char-count {
    position: absolute;
    right: 33px;
    bottom: 10px;
    font-size: 13px;
    color: #898989;
}


