/* 관리자페이지 구조 */
.admin-container {
    display: flex;
    justify-content: space-between;
}
.admin-sidebar {
    width: 240px;
}

.admin-content {
    width: 960px;
    min-height: 1000px;
}

/* 1. 상단 요약 섹션 */
.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #303033;
    height: 100px;
}

.summary h1 {
    font-size: 24px;
    padding-left: 40px;
}
.summary-lists {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.summary-item {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 30px;
    border-left: 1px solid white;
    padding-left: 13px;
}

.summary-title {
    font-size: 13px;
    margin-bottom: 7px;
}

.summary-count {
    display: flex;
    align-items: baseline;
}

.summary-count .number {
    font-size: 26px;
}

.summary-count .unit {
    font-size: 16px;
    margin-left: 5px;
}

/* 2. 신규 방문 예약  */
.new-visit-reservation {
    margin-top: 50px;
    min-height: 300px;
}
.new-visit-reservation h2 {
    font-size: 24px;
}

.new-visit-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 15px 0;
}

.new-visit-header span {
    color: #ca1a5a;
}

table {
    width: 100%;
    border-top: 2px solid #000000;
    /* border-collapse: collapse; */
}

table th,
table td {
    text-align: center;
    height: 50px;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* 3. 고객 방문 일정 */
.today-visit {
    margin-top: 50px;
}

.today-visit h2 {
    font-size: 24px;
}

.today-visit-header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0px 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #000000;
}

.today-visit-header span {
    color: #ca1a5a;
}

.visit-detail-container {
    min-height: 700px;
}

.visit-detail-container {
    min-height: 500px;
}

.visit-details {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    box-shadow: 5px 5px 7px #eeeeee;
    padding: 20px 35px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.visit-time {
    width: 100px;
}

.visit-time div {
    border: 1px solid #000000;
    width: 65px;
    text-align: center;
    padding: 4px 10px;
    border-radius: 5px;
}

.visit-customer-info {
    width: 300px;
}

.wedding-info {
    flex-grow: 1;
}

.visit-customer-info div,
.wedding-info div {
    margin-bottom: 7px;
}

.visit-customer-info span:nth-of-type(1),
.wedding-info span:nth-of-type(1) {
    margin-right: 22px;
}

/* 3-1. 전달사항 더보기 & 닫기 */
.announcement {
    display: flex;
    justify-content: space-between;
}

.text-wrapper {
    width: 310px;
    background-color: #eeeeee;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.text {
    word-break: keep-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.more-text,
.less-text {
    font-size: 14px;
    color: #858585;
    cursor: pointer;
    margin-top: 5px;
    text-align: end;
}

.less-text {
    display: none;
}
