<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedder</title>
    <link rel="stylesheet" href="../../css/common/header/header.css" />
    <link rel="stylesheet" href="../../css/common/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- 헤더 타이틀 글씨 한정 -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <script defer src="../../js/header/header.js"></script>
  </head>
  <header>
    <div class="header-container">
      <div class="header-top hd__inner1400">
        <div class="header-logo">
          <a href="../../html/main/main.html">
            <img
              src="https://wdrtest1.s3.ap-northeast-2.amazonaws.com/common/wedder-logo2.png"
            />
          </a>
          <span>Wedder</span>
        </div>
        <ul class="header-user">
          <li><a href="#">박혜원님 안녕하세요</a></li>
          <li>
            <a href="../../html/mypage/mypage.html">My Page</a>
          </li>
          <li>
            <a href="../../html/admin/adminMain.html">My Like</a>
          </li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
      <!-- 네비게이션 바 -->
      <nav class="header-cate hd__inner1400">
        <ul>
          <div id="horizontal-underline"></div>
          <li class="black">
            <a href="../../html/main/main.html">Home</a>
          </li>
          <li class="black">
            <a href="../../html/weddingHall/weddingHallList.html"
              >Wedding Hall</a
            >
          </li>
          <li class="black">
            <a href="../../html/weddingHall/weddingHallList.html">Studio</a>
          </li>
          <li class="black"><a href="#">Dress</a></li>
          <li class="black"><a href="#">Make Up</a></li>
          <li class="black">
            <a href="../../html/Package/packageMain.html">Package</a>
          </li>
          <li class="black">
            <a href="../../html/estimate/estimateCal.html">Estimate</a>
          </li>
          <li class="black">
            <a href="../../html/reservation/reservationCategory.html"
              >Reservation</a
            >
          </li>
          <li>|</li>
          <li class="grey">Review</li>
          <li class="grey">Event</li>
        </ul>
      </nav>
    </div>
  </header>
</html>
