.container {
  padding: 50px;
}
.header {
  text-align: center;
  margin-bottom: 20px;
}
.header h1 {
  margin: 0;
  text-align: left;
  font-size: 20px;
  color: #757575;
}
.header h2 {
  margin: 0;
  text-align: left;
  font-size: 30px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #757575;
  padding-bottom: 20px;
}
.service {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}
.service img {
  width: 180px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}
.service .description {
  flex: 1;
}
.service .description h3 {
  margin: 0;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.service .description p {
  margin: 5px 0;
  font-size: 14px;
  color: #000;
}
.service .action {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 30px;
}
.service .action a {
  font-size: 14px;
  color: #ca1a5a;
  text-decoration: none;
}
.heart {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("../../assets/images/empty-heart.png");
  background-size: cover;
  border: none;
  cursor: pointer;
}
.liked {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("../../assets/images/full-heart.png");
  background-size: cover;
  border: none;
  cursor: pointer;
}
.total {
  margin-top: 100px;
  text-align: right;
}
.total-title {
  text-align: left;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  border-bottom: 1px solid #757575;
  padding: 15px 5px;
}
.total-cost {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  font-size: 15px;
  color: #333;
}
.total-discount {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  font-size: 15px;
  color: #ca1a5a;
  border-bottom: 1px solid #757575;
}
.total-final {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
  font-size: 18px;
  color: #000000;
}
.choice-box {
  margin: 50px 100px 100px;
  padding: 40px;
  background-color: #ffffff;
  color: #ca1a5a;
  border: 1px solid #ca1a5a;
  border-radius: 10px;
  text-align: center;
}
.saving {
  padding: 10px 10px;
  font-weight: bold;
  font-size: 20px;
}
.notice {
  color: #2c3245;
  font-size: 15px;
}
.btn {
  display: flex;
  justify-content: space-between;
}
.btn .pay {
  width: 270px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #ca1a5a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn .back {
  width: 270px;
  height: auto;
  padding: 10px 20px;
  font-size: 16px;
  color: #757575;
  background-color: #e5e5e5;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
