<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wedder</title>
        <link rel="stylesheet" href="../../css/common/footer/footer.css" />
    </head>
    <footer>
        <div class="footer_inner">
            <section class="footer-top">
                <div>
                    <ul>
                        <li class="title">Company</li>
                        <li>About</li>
                        <li>Works</li>
                        <li>Career</li>
                        <li>Features</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="title">Help</li>
                        <li>Customer Support</li>
                        <li>Delivery Details</li>
                        <li>Terms & Conditions</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="title">Resources</li>
                        <li>Free eBooks</li>
                        <li>Development Tutorial</li>
                        <li>How to - Blog</li>
                        <li>Youtube Playlist</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="title">Install App</li>
                        <li>
                            <img
                                src="https://wdrtest1.s3.ap-northeast-2.amazonaws.com/common/appstore.png"
                            />
                        </li>
                        <li>
                            <img
                                src="https://wdrtest1.s3.ap-northeast-2.amazonaws.com/common/googlestore.png"
                            />
                        </li>
                    </ul>
                </div>
            </section>
            <section class="footer-bottom">
                <div>© Copyright 2022, All Rights Reserved by ClarityUI</div>
                <img
                    src="https://wdrtest1.s3.ap-northeast-2.amazonaws.com/common/footer.png"
                />
            </section>
        </div>
    </footer>
</html>
