/* 메인 타이틀 문구 */
.title {
    color: #ca1a5a;
}

.title-sub {
    font-size: 17px;
}

.title-main {
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
}

/* 조건 검색 버튼들 */
.search {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.search-condition {
    display: flex;
    font-size: 14px;
}

.search-condition div span {
    border: 1px solid #eeeeee;
    color: #858585;
    border-radius: 5px;
    padding: 7px 14px;
    margin-right: 15px;
}

.search-condition div span img {
    width: 10px;
    height: 10px;
    margin-left: 15px;
}

/* 지도로보기, 목록으로보기 버튼 */
.list-search-btn {
    font-size: 14px;
    border: 1px solid #ca1a5a;
    border-radius: 5px;
    padding: 7px 12px;
    margin-right: 10px;
}

.list-search-btn:hover {
    font-size: 14px;
    background-color: #ca1a5a;
    color: white;
    border-radius: 5px;
    padding: 7px 12px;
    margin-right: 10px;
}

.map-search-btn {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px 12px;
}

.map-search-btn:hover {
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 7px 12px;
}

/* 업체 리스트(card) 부분 */
.list-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin-top: 30px;
}

.card {
    height: 518px;
    width: 100%;
    overflow: inherit;
}

.card img {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.card-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 8px 0px;
}

.card-info div {
    margin-bottom: 4px;
}

.card-info div:last-child {
    margin-bottom: 0;
}

.dress-name {
    color: #ca1a5a;
    font-weight: 500;
    font-size: 15px;
}

.instagram img {
    width: 22px;
    float: right;
}

.dress-address {
    color: #828282;
    font-weight: 100;
}

.like-and-score {
    display: flex;
    align-items: center;
    gap: 10px;
}

.like-and-score a {
    display: flex;
    align-items: center;
}

.like-and-score img {
    margin-right: 5px;
    width: 18px;
    height: 18px;
}
