/* 배너 */
.banner {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-background img {
    width: 100%;
}

#icon {
    position: absolute;
    top: 27px;
    left: 110px;
    width: 160px;
    height: 120px;
}

.banner-title {
    position: absolute;
    top: 30px;
    left: 310px;
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}

.banner-text {
    position: absolute;
    bottom: 55px;
    left: 310px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

/* 희망 예식일 선택 */
.container {
    display: grid;
    grid-template-columns: 650px 400px;
    padding: 10px 20px;
}

.calendar img {
    width: 600px;
    height: 550px;
    margin-bottom: 10px;
}

.expect-date h1 {
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -0.5px;
    padding: 15px 0 30px 20px;

}

.calendar-select {
    width: 600px;
    font-size: 17px;
    font-weight: 500;
    padding: 12px;
    text-align: center;
    border: 1px solid #CA1A5A;
    border-radius: 5px;
    background-color: rgba(255, 203, 222, 0.3);
    color: #CA1A5A;
}

/* 예약 참고사항 */

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 15px;
}

.reserve-guide {
    margin-top: 85px;
    padding: 25px;
    /* padding-left: 30px; */
    border: 1px solid #CA1A5A;
    border-radius: 8px;   
}

.reserve-guide h2 {
    font-size: 17px;
    color: #CA1A5A;
    margin: 0;
}

.reserve-guide input {
    accent-color: #CA1A5A;
}

.guide {
    font-size: 14px;
    line-height: 1.9;
}

/* 예약 정보 */
.reserve-infobox {
    margin-top: 20px;
    padding: 25px 40px;
    align-content: space-between;
    background-color: #eee;
    border-radius: 8px;
}

.info-table {
    width: 100%;
}

.info-table caption {
    font-size: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}

.info-table th, .info-table td {
    font-size: 15px;
    line-height: 2.5;
    text-align: left;
    padding-top: 10px;
}

.info-table tr:nth-of-type(4), 
.info-table tr:nth-of-type(5) {
    color: #CA1A5A;
}

/* 예상하객수 */
.expect {
    margin: 20px;
}

.expect h2 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    padding-bottom: 25px;
    margin: 0;
}

/* .expect-audience {
    box-sizing: border-box;
} */

.expect-table {
    width: 100%;
    max-width: 600px;
    height: 120px;
    border: 1px solid #828282;
    border-radius: 10px;
}

.expect-table td {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    text-align: center;
    align-content: center;
    padding: 0 20px;
    padding-left: 30px;
    border-right: 1px solid #828282;    
}

.expect-table tr:nth-of-type(1) {
    border-bottom: 1px solid #828282;
}

.expect-table input {
    position: absolute;
    top: 20px;
    left: 37px;
    accent-color: #CA1A5A;
}

/* 버튼 */
.btn {
    display: flex;
    justify-content: space-between;
    margin: 40px 20px;
}

.btn-pre {
    padding: 10px 100px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

.btn-pre:hover {
    background-color: #eee;
    color: #000;
}

.btn-nxt {
    padding: 10px 120px;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.btn-nxt:hover {
    background-color: #717171;
    border: 1px solid #717171;
}